<div class="main-div flex">
  <aside id="default-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 bg-gray-50 dark:bg-gray-800"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto">
      <ul class="space-y-2 font-medium">
        <li *ngFor="let module of modules" (click)="setSelectedModule(module)">
          <a [ngClass]="{'highlighted': selectedModule === module.name}"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 groupm hover-cursor"
            style="cursor: pointer;">
            <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
              aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
              <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
              <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
            </svg>
            <span class="ml-3">{{ module.name }}</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <div class="p-4 sm:ml-64 flex-grow">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex;">
          <img src="./assets/images/profileImages/back.gif" alt="" srcset="" class="backImage" (click)="navigateListPage()">
          <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Create New Permission</h5>
          <!-- <img src="./assets/permission/Roles.png" alt="" srcset="" class="backImage" (click)="navigateListPage()"> -->
        </div>
        <mat-form-field class="custom-mat-form-field" appearance="outline">
          <mat-label>Select Users</mat-label>
          <mat-select [(ngModel)]="selectedUsers" multiple class="custom-mat-select">
            <mat-option *ngFor="let user of usernames" [value]="user" class="custom-mat-option">
              {{ user.userName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex items-center justify-center h-40 mb-4 rounded bg-gray-50 dark:bg-gray-800">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="width: 100%;">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase highlighted">
              <tr>
                <th scope="col" class="px-6 py-3">Permission</th>
                <th scope="col" class="px-6 py-3">All</th>
                <th scope="col" class="px-6 py-3">Write</th>
                <th scope="col" class="px-6 py-3">Read</th>
                <th scope="col" class="px-6 py-3">Update</th>
                <th scope="col" class="px-6 py-3">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let module of modules" [class.hidden]="selectedModule !== module.name" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ module.name }}
                </th>
                <td class="px-6 py-4">
                  <mat-checkbox color="primary" [(ngModel)]="module.all" (change)="selectAll(module)">
                  </mat-checkbox>
                </td>
                <td class="px-6 py-4">
                  <mat-checkbox color="primary" [(ngModel)]="module.write">
                  </mat-checkbox>
                </td>
                <td class="px-6 py-4">
                  <mat-checkbox color="primary" [(ngModel)]="module.read">
                  </mat-checkbox>
                </td>
                <td class="px-6 py-4">
                  <mat-checkbox color="primary" [(ngModel)]="module.update">
                  </mat-checkbox>
                </td>
                <td class="px-6 py-4">
                  <mat-checkbox color="primary" [(ngModel)]="module.delete">
                  </mat-checkbox>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="text-align: end;">
        <button (click)="resetPermissions()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 text-sm me-2 mb-2 rounded">Reset</button>
        <button (click)="savePermissions()" class="bg-green-700 hover:bg-green-700 text-white font-bold py-2 px-4 text-sm me-2 mb-2 rounded">Save new permission</button>
      </div>
    </div>
  </div>
</div>
